*,
html {
  font-family: "Open Sans", sans-serif;
  color: black;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: none;
}
.body {
}
#header {
  height: 100vh;
  width: 100%;
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}
.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid;
  /* border-image: linear-gradient(45deg, rgb(55, 0, 143), rgb(66, 146, 250)) 1;
  border-radius: 1000px !important; */
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

*:hover ~ #cursor {
  width: 70px;
  height: 70px;
}

#hello {
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(123.5deg, #04afda -10.54%, #94c8d3 93.67%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: white; /* same as background */
  position: relative;

  transition-duration: 0.8s;
}

#hello:before {
  content: "service now";

  white-space: pre;
  font-size: 50px;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition-duration: 0.8s;

  background: linear-gradient(123.5deg, #04afda -10.54%, #94c8d3 93.67%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

#hello:hover {
  font-size: 70px;
  transition-duration: 0.8s;
}
#hello:hover:before {
  transition-duration: 0.8s;
  font-size: 70px;
  width: 100%;
}

.card {
  border-color: white !important;
}
.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  transition: all 600ms ease;
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}

.front {
  transform: perspective(600px) rotateX(0deg);
}

.back {
  background: white;
  transform: perspective(600px) rotateX(180deg);
}
.card:hover > .front {
  transform: perspective(600px) rotateX(180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateX(0deg);
}

.rounded {
  border-radius: 10px !important;
}
.bg-full-dark {
  background: rgb(0, 0, 0);
}

.font-04 {
  font-size: 0.4em;
}
.font-05 {
  font-size: 0.5em;
}
.font-06 {
  font-size: 0.6em;
}
.font-07 {
  font-size: 0.7em;
}
.font-08 {
  font-size: 0.8em;
}
.font-09 {
  font-size: 0.9em;
}
.font-10 {
  font-size: 1em;
}
.font-11 {
  font-size: 1.1em;
}
.font-12 {
  font-size: 1.2em;
}
.font-13 {
  font-size: 1.3em;
}
.font-14 {
  font-size: 1.4em;
}
.font-15 {
  font-size: 1.5em;
}
.font-16 {
  font-size: 1.6em;
}
.font-17 {
  font-size: 1.7em;
}
.font-18 {
  font-size: 1.8em;
}
.font-19 {
  font-size: 1.9em;
}
.font-20 {
  font-size: 2em;
}

.text-normal {
  font-weight: 400;
}
.text-bold {
  font-weight: bold;
}
.text-white {
  color: white;
}
.text-colored {
  color: #0a3b5b !important;
}

.text-dark {
  color: #2f3640 !important;
}

.text-black {
  color: #000000 !important;
}
